html{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.corpoPagina{
   z-index: 1;
   margin-bottom: 5em;
}

#fundo{/* imagem de fundo da pagina*/
    position: fixed;
    opacity: 0.2;
    width: 100%;
    height: auto;
    z-index: -1;
}

.navbar{
    background-color: rgb(44, 114, 201); !important;
    border-radius: 0px 0px 20px 20px;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none !important;
}

#bodyContato{
    margin-top:5%;
    width: 100%;
}

#bodyContato th {
    margin-top: 5%;
    margin-bottom: 2%;
}

 #footerAbsolute{
    position: fixed;
    width: 100% !important;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    background-color: rgb(44, 114, 201);
    border-radius: 20px 20px 0px 0px;
    height: auto;
    color: white;
 }

 /* estilo da pagina home*/

#sectionHome{
    margin-top: 5%;
}

#sectionHome .card-header{
    background-color: rgb(90, 230, 230) !important;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    border-radius: 15px 15px 0px 0px !important;


}

#sectionHome .card{
    background-image: url(../img/Viajou.comOpaca.png) ;
    background-repeat:no-repeat;
    background-position: center;
    box-shadow: 2px 2px 5px 5px rgb(44, 114, 201);
    border-radius: 15px !important;
}

#cardHome p{
    font-size: 15pt;
    font-style: italic;
}

/* estilo pra pagina Destino*/

#cardDestino .card{
    border-color: aqua !important;
    border-radius: 15px !important;
    box-shadow: 2px 2px 5px 5px rgb(44, 114, 201);
}

/* estilo de formulario*/

#formPage{
    border-color: aqua !important;
    box-shadow: 2px 2px 5px 5px rgb(44, 114, 201);
    border-radius: 15px !important;
}
 
